body{
  background-color: #333333;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 100%;
  width: 100%;
 font-family: 'Special Elite', Arial, Helvetica, sans-serif;
}
html{
  width: 100%;
  height:100%;
}
.letter{
  min-height: 100px;
  padding: 50px;
  margin: 0 auto;
  box-shadow: 5px 5px 8px #000000;
  color: #000000;
  font-size: 28px; font-family: 'Special Elite', Arial, Helvetica, sans-serif;
  line-height: 44px;
  background:url("ricepaper2.png") repeat center;
}

div.form{
  background: none !important;
  box-shadow: none !important;

}
#container{
  width: 90%;
  margin: 0 auto;
  max-width: 850px;
}
.clue{
  width: 100%;max-width: 750px;
  margin: 0 auto;
}

#typewriteText{color: #fff;font-size: 50px; font-family: 'Special Elite', Arial, Helvetica, sans-serif; position: fixed; left: 15%; top: 25%; width: 50%;}
@media only screen and (min-width: 600px) {
    #typewriteText{font-size:40px;width:80%;left:10%;top:10%;right:10%;}}

    .row-fluid {
      margin-top: 5%;
      margin-left: 40%;
      margin-right: auto;
    }

    .button1 {
      margin-left: 43%;
    }

    label {
      font: normal 18px Georgia,serif;
    }

    .button2 {
      display: none;
      margin-left: 41%;
      width: 120px;
    }

    .clock {
  width: 650px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
